
<form [formGroup]="FeedbackForm"  autocomplete="off" (ngSubmit)="onSubmit()" >
    <div class=" form-group row">
    <div class=" col-6 ">
        <label class="form-label">Name: </label>
        <input type="text" class="form-control form-control-lg" name="Name" placeholder="Customer Name" 
         formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f['Name'].errors }" />
        <div *ngIf="submitted && f['Name'].errors" class="invalid-feedback">
            <div *ngIf=" f['Name'].errors['required']">Name is required</div>
        </div>
      </div>
      <div class="form-group col-6">
        <label class="form-label">Email: </label>
        <input type="email" class="form-control form-control-lg" name="Email" placeholder="Customer Email" 
        formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }" />
       <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
           <div *ngIf=" f['Email'].errors['required']">Email is required</div>
       </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-6">
        <label class="form-label">ContactNo: </label>
        <input type="text" class="form-control form-control-lg" name="ContactNo" placeholder="Customer Contact number" maxlength="10" 
        formControlName="ContactNo" [ngClass]="{ 'is-invalid': submitted && f['ContactNo'].errors }" />
       <div *ngIf="submitted && f['ContactNo'].errors" class="invalid-feedback">
           <div *ngIf=" f['ContactNo'].errors['required']">ContactNo is required</div>
       </div>
      </div>
      <div class="form-group col-6">
        <div class="row" style="margin-left:-8px;margin-top: 30px;">
            <div class="col-2" >
        <label style="margin-top: 2px;margin-left: 20px;" class="form-label">Rating: </label>
    </div>
    <div class="col-10" >
        <ul class="list-inline rating-list" 
          *ngFor="let star of stars;" style="display: inline-block" >
            <li (click)="countStar(star)" id="Rating" name="Rating"  
                [ngClass]="{'selected': (star <= selectedValue)}"  
                formControlName="Rating" [ngClass]="{ 'is-invalid': submitted && f['Rating'].errors }">
              <i class="fa fa-star" ></i>
            </li> 
            <div *ngIf="submitted && f['Rating'].errors" class="invalid-feedback">
              <div *ngIf=" f['Rating'].errors['required']">Rating is required</div>
          </div>
      </ul>
    </div>
    </div>
      </div>
      </div>
      <div class="row">
        <div class="form-group">
        <label class="form-label">Feedback: </label>
        <textarea  class="form-control form-control-lg" name="Feedback" placeholder="Customer Feedback" 
        formControlName="Feedback" [ngClass]="{ 'is-invalid': submitted && f['Feedback'].errors }"></textarea>
        <div *ngIf="submitted && f['Feedback'].errors" class="invalid-feedback">
            <div *ngIf=" f['Feedback'].errors['required']">Feedback is required</div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-5"></div>
      <div class="form-group col-7">
        <input type="submit" class="btn btn-info btn-lg btn-clock" value="Submit" >
        <input type="reset" style="margin-left: 10px;"  class="btn btn-primary btn-lg btn-clock" routerLink="/dashboard" value="Cancel" >
      </div>
      <!-- <div class="col-3"></div> -->
    </div>
</form>
