<div class="row">
    <div class="col-md-3">
        <h5 style="padding-left: 20px;">Customer Feedback Rating</h5>
<canvas baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend"
  (chartClick)="chartClicked($event)">
</canvas>

<button type="button" class="btn  btn-info btn-lg btn-clock" style="margin-top: 10px;margin-left: 10px;" (click)="ShowAllRecord()">Show All</button>
<button type="button" class="btn  btn-info btn-lg btn-clock btn-secondry" style="margin-top: 10px; margin-left: 10px;"  routerLink="/feedback-form">Add Feedback</button>
</div>
<div class="col-md-9">
<app-feedbacklist [allRecords]="allRecords"></app-feedbacklist>
</div>
</div>